.appcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.title {
  font-size: 40px;
  text-align: center;
}

.teamContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 60%;
  margin: auto;
}

.versus {
  text-align: center;
}

.qrCodeContainer {
  padding: 30px;
  display: flex;
  flex-flow: column;
  height: 128px;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 360px) {
  .teamContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    width: 100%;
  }
}
