 .teamContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    margin: auto;
}

.versus{
   text-align: center; 
}

@media only screen and (max-width: 360px) {
  .teamContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    width: 100%;
  }
}
